#content .review form {
	margin: 0;
}

#content .review {
	margin: 0;
	padding: 0;
	float: right;
	border: none;
}

.review label {
	display: inline;
}

.review .login_required {
	font-size: 0.8;
	color: #666;
	font-variant: small-caps;
}

